@import "mixins";


.slider {
    width: 100%;
    display: flex;
    position: relative;

    @include responsive(600){
        & {
            padding-bottom: 7.5%;
        }
    }
    &__text {
        margin-top: 10%;
        width: 25%;

        @include responsive(600){
            & {
                width: 50%;
                margin-top: 5%;
            }
        }
    }
    &__content {
        width: 75%;
        & img {
            opacity: 0;
        }
    }
    &__line {
        @include absolut(50%,50%);
        width: 45%;
        height: 1px;
        background-color: gray;
    }
    &__button {
        background-color: white;
        border-radius: 50%;
        width: 3.75vw;
        height: 3.75vw;
        position: relative;
        color: inherit;
        border: none;
        padding: 0 !important;
        font: inherit;

        &--contener {
            width: 100%;
            @include display-flex(0,0,center);
            @include absolut(70%, 0);
        }

        & span {
            position: absolute;
            top: -17%;
            left: 9%;
            height: 80%;
            width: 80%;
            font-size: 3vw;

            & img {
                width: 30%;
                height: 30%;
            }
        }
    }

    &__worker {
        width: 100%;
        @include display-flex(0,0,0,column);
        
        &--img {
            position: relative;
            @include display-flex(center);

            & img {
                width: 75% !important; 
            }
        }
        &--position {
            @include absolut();
            width: 100%;
            height: 100%;
            @include display-flex(flex-end,0,0,column);
        }
        &--name {
            background-color: #DD1A1E;
            padding: 1vw 0 1vw 0;
            border-radius: 15px;
            width: 100%;
            text-align: center;
            color: white;
            font-size: 1.5vw;
            border: 1px solid white;

            @include responsive(600){
                & {
                    font-size: 2.5vw;
                }
            }
        }
        &--text {
            text-align: center;
            width: 100%;
            margin: 1vw 0 1vw;

            @include responsive(600){
                & {
                    font-size: 3vw;
                }
            }
        }
    }

}

.owl-carousel .owl-nav { 
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    top: 35%;
    left: -5.75%;
    width: 111.5%;
    @include responsive(600){
        & {
           display: none;
        }
    }
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    background-color: #F6F6F6;
    border-radius: 50%;
    width: 3.75vw;
    height: 3.75vw;
    position: relative;
}
.owl-carousel .owl-nav button.owl-next span, .owl-carousel .owl-nav button.owl-prev span {
    position: absolute;
    top: -7%;
    left: 9%;
    height: 80%;
    width: 80%;
    font-size: 3vw;
}
.owl-theme .owl-dots {
    display: none;
}